{{ with .Site.Params.staticman.api }}
<section id="staticman-comments" class="staticman-comments">
    {{ $slug := replace $.RelPermalink "/" "" }}
  
    {{ if $.Site.Data.comments }}
      {{ $comments := index $.Site.Data.comments $slug }}
      {{ if $comments }}
        {{ if gt (len $comments) 1  }}
          <h3>{{ len $comments  }} comments</h3>
        {{ else }}
          <h3>{{ len $comments  }} comment</h3>
        {{ end }}
      {{ end }}
  
  
      {{ $hasComments := 0 }}
      {{ range $comments }}
        {{ if not .reply_to }}
          {{ $parentId := ._id }}
          {{ $parentName := .name }}
          {{ $hasReplies := 0 }}
          {{ $hasComments = add $hasComments 1 }}
          <article id="comment-{{ $hasComments }}" class="static-comment">
            <div class="comment-meta">
                <img class="comment-gravatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=128&d=mm&r=x">
                <span class="comment-author">{{ if .website }}<a href="{{ .website }}" rel="external nofollow ugc">{{ .name }}</a>{{ else }}{{ .name }}{{ end }}</span>
                <a href="#comment-{{ $hasComments }}" title="Permalink to this comment">
                <time class="comment-timestamp" datetime="{{ .date }}">{{ dateFormat (default "2 Jan 2006 15:04" .Site.Params.dateformat) .date}}</time>
                </a>
                <a href="#comment-{{ $hasComments }}" title="Permalink to this comment">
                  <span class="comment-number">#{{ $hasComments }}</span>
                </a>
            </div>
            <div class="comment-content"><p>{{ .comment | markdownify }}</p></div>
            <a href="#staticman-form" onclick="replyTo('{{ ._id }}')" >Reply</a>

          {{ range $comments }}
            {{ if eq .reply_to $parentId }}
              {{ $hasReplies = add $hasReplies 1 }}
            {{ end }}
          {{ end }}

          {{ range $comments }}
            {{ if eq .reply_to $parentId }}
              {{ $hasComments = add $hasComments 1 }}
              <div id="comment-{{ $hasComments }}" class="reply">
                <div class="comment-meta">
                    <img class="comment-gravatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=128&d=mm&r=x">
                    <span class="comment-author">{{ if .website }}<a href="{{ .website }}" rel="external nofollow ugc">{{ .name }}</a>{{ else }}{{ .name }}{{ end }}</span>
                    <a href="#comment-{{ $hasComments }}" title="Permalink to this comment">
                    <time class="comment-timestamp" datetime="{{ .date }}">{{ dateFormat (default "2 Jan 2006 15:04" .Site.Params.dateformat) .date}}</time>
                    </a>
                    <a href="#comment-{{ $hasComments }}" title="Permalink to this comment">
                      <span class="comment-number">#{{ $hasComments }}</span>
                    </a>
                </div>
                <div class="comment-content"><p>{{ .comment | markdownify }}</p></div>
              </div>

            {{ end }}
          {{ end }}
        </article>
        {{ end }}
      {{ end }}
    {{ end }}
  
  <div class="comment-form">
    <form id="staticman-form" method="post" action="{{ $.Site.Params.staticman.api }}" onsubmit="return checkForm(this);">
      <h3>Your thoughts?</h3>
      <span class="staticman-info">Your email address will not be published. Required fields are marked *</span>

      <fieldset>
          <input type="hidden" name="options[redirect]" value="{{ $.RelPermalink | absURL }}#comment-thankyou">
          <input type="hidden" name="options[slug]" value="{{ replace $.RelPermalink "/" "" }}">
          <input type="hidden" name="fields[reply_to]" value="">
          <input name="fields[name]" id="yourname" type="text" placeholder="Name *" required/>
          <input name="fields[email]" id="youremail" type="email" placeholder="Email *" required/>
          <input name="fields[website]" id="website" type="url" placeholder="Website"/>
          <textarea name="fields[comment]" id="yourcomment" placeholder="What are you thinking? (markdown is accepted) *" required></textarea>
          <button class="button" id="submitButton">Submit</button>
          <output id="warningComment"></output>
      </fieldset>
  </form>
    <button class="button reset" id="resetButton" onclick="reset('')" hidden>Cancel reply</button>
    </div>
      <aside aria-label="note" class="note">
        <section id="comment-thankyou" style="display: none; margin-left: 5px"> 
          Thank you for your comment, it will be displayed once it has been approved!
        </section>
      </aside>
  <script type="application/javascript">
    {{ partial "staticman-js-common.js" . | safeJS }}
  </script>
  <noscript>Enable JavaScript to view comments.</noscript>
</section>
{{ end }}
